.container {
  max-width: 1080px;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  background-color: #0c0d17;
  border-radius: 1rem;
}

.container ul {
  list-style-type: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  padding: 1rem;
  border-bottom: 1px solid #131524;
}

.item .arrow {
  color: #aaa;
  margin: 0.2rem;
}

.item .currency {
  display: flex;
}

.item .currency .img {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.item .title {
  display: flex;
  flex-direction: column;
}

.item .name {
  font-weight: 600;
}

.item .up {
  color: mediumaquamarine;
}

.item .down {
  color: salmon;
}

@media screen and (max-width: 920px) {
}
