.container {
  max-width: 920px;
  margin: 1rem auto;
  background-color: #0c0d17;
  border-radius: 20px;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
}

.container .info {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: #eee;
}

.container ul {
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: #eee;
  padding: 1em;
  border-bottom: 1px solid #151519;
}

.item .currency {
  display: flex;
  align-items: center;
  width: 50%;
}

.item .price,
.item .change {
  width: 25%;
}

.item .name {
  margin: 0 1rem;
}

.item .up {
  color: mediumaquamarine;
}

.item .down {
  color: salmon;
}

.currency-title {
  width: 50%;
}

.price-title {
  width: 25%;
  text-align: center;
}

.change-title {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 920px) {
  .change-title {
    display: none;
  }

  .item .change {
    display: none;
  }

  .currency-title,
  .price-title,
  .item .change,
  .item .price {
    width: auto;
  }
}
